apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: lamp
  labels:
    app: web
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: javierpc2001/lamp-app:latest
          ports:
            - containerPort: 80
          env:
            - name: MYSQL_HOST
              value: "mysql.lamp.svc.cluster.local"
            - name: MYSQL_DATABASE
              value: "tu_basedatos"
            - name: MYSQL_USER
              value: "usuario"
            - name: MYSQL_PASSWORD
              value: "password"
